<form action="/" method="get">
    <label><input type="text" name="id" placeholder="Id"></label>
    <label><input type="text" name="name" placeholder="Name"></label>
    <label><input type="text" name="âge" placeholder="Age"></label>
    <input type="submit" value="Create">
</form>
